*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

:root {
  --ctp-rosewater: 220, 138, 120;
  --ctp-flamingo: 221, 120, 120;
  --ctp-pink: 234, 118, 203;
  --ctp-mauve: 136, 57, 239;
  --ctp-red: 210, 15, 57;
  --ctp-maroon: 230, 69, 83;
  --ctp-peach: 254, 100, 11;
  --ctp-yellow: 223, 142, 29;
  --ctp-green: 64, 160, 43;
  --ctp-teal: 23, 146, 153;
  --ctp-sky: 4, 165, 229;
  --ctp-sapphire: 32, 159, 181;
  --ctp-blue: 30, 102, 245;
  --ctp-lavender: 114, 135, 253;
  --ctp-text: 76, 79, 105;
  --ctp-subtext1: 92, 95, 119;
  --ctp-subtext0: 108, 111, 133;
  --ctp-overlay2: 124, 127, 147;
  --ctp-overlay1: 140, 143, 161;
  --ctp-overlay0: 156, 160, 176;
  --ctp-surface2: 172, 176, 190;
  --ctp-surface1: 188, 192, 204;
  --ctp-surface0: 204, 208, 218;
  --ctp-base: 239, 241, 245;
  --ctp-mantle: 230, 233, 239;
  --ctp-crust: 220, 224, 232;
}

.static {
  position: static;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.contents {
  display: contents;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.max-h-screen {
  max-height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.min-w-full {
  min-width: 100%;
}

.max-w-\[25\%\] {
  max-width: 25%;
}

.max-w-\[27rem\] {
  max-width: 27rem;
}

.max-w-\[66\%\] {
  max-width: 66%;
}

.grow-\[3\] {
  flex-grow: 3;
}

.grow-\[7\] {
  flex-grow: 7;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.overflow-auto {
  overflow: auto;
}

.scroll-auto {
  scroll-behavior: auto;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.bg-ctp-base {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ctp-base), var(--tw-bg-opacity, 1));
}

.bg-ctp-crust {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ctp-crust), var(--tw-bg-opacity, 1));
}

.bg-ctp-surface0 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ctp-surface0), var(--tw-bg-opacity, 1));
}

.p-2 {
  padding: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-light {
  font-weight: 300;
}

.text-ctp-base {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-base), var(--tw-text-opacity, 1));
}

.text-ctp-base\/0 {
  color: rgba(var(--ctp-base), 0);
}

.text-ctp-base\/10 {
  color: rgba(var(--ctp-base), 0.1);
}

.text-ctp-base\/100 {
  color: rgba(var(--ctp-base), 1);
}

.text-ctp-base\/15 {
  color: rgba(var(--ctp-base), 0.15);
}

.text-ctp-base\/20 {
  color: rgba(var(--ctp-base), 0.2);
}

.text-ctp-base\/25 {
  color: rgba(var(--ctp-base), 0.25);
}

.text-ctp-base\/30 {
  color: rgba(var(--ctp-base), 0.3);
}

.text-ctp-base\/35 {
  color: rgba(var(--ctp-base), 0.35);
}

.text-ctp-base\/40 {
  color: rgba(var(--ctp-base), 0.4);
}

.text-ctp-base\/45 {
  color: rgba(var(--ctp-base), 0.45);
}

.text-ctp-base\/5 {
  color: rgba(var(--ctp-base), 0.05);
}

.text-ctp-base\/50 {
  color: rgba(var(--ctp-base), 0.5);
}

.text-ctp-base\/55 {
  color: rgba(var(--ctp-base), 0.55);
}

.text-ctp-base\/60 {
  color: rgba(var(--ctp-base), 0.6);
}

.text-ctp-base\/65 {
  color: rgba(var(--ctp-base), 0.65);
}

.text-ctp-base\/70 {
  color: rgba(var(--ctp-base), 0.7);
}

.text-ctp-base\/75 {
  color: rgba(var(--ctp-base), 0.75);
}

.text-ctp-base\/80 {
  color: rgba(var(--ctp-base), 0.8);
}

.text-ctp-base\/85 {
  color: rgba(var(--ctp-base), 0.85);
}

.text-ctp-base\/90 {
  color: rgba(var(--ctp-base), 0.9);
}

.text-ctp-base\/95 {
  color: rgba(var(--ctp-base), 0.95);
}

.text-ctp-blue {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-blue), var(--tw-text-opacity, 1));
}

.text-ctp-blue\/0 {
  color: rgba(var(--ctp-blue), 0);
}

.text-ctp-blue\/10 {
  color: rgba(var(--ctp-blue), 0.1);
}

.text-ctp-blue\/100 {
  color: rgba(var(--ctp-blue), 1);
}

.text-ctp-blue\/15 {
  color: rgba(var(--ctp-blue), 0.15);
}

.text-ctp-blue\/20 {
  color: rgba(var(--ctp-blue), 0.2);
}

.text-ctp-blue\/25 {
  color: rgba(var(--ctp-blue), 0.25);
}

.text-ctp-blue\/30 {
  color: rgba(var(--ctp-blue), 0.3);
}

.text-ctp-blue\/35 {
  color: rgba(var(--ctp-blue), 0.35);
}

.text-ctp-blue\/40 {
  color: rgba(var(--ctp-blue), 0.4);
}

.text-ctp-blue\/45 {
  color: rgba(var(--ctp-blue), 0.45);
}

.text-ctp-blue\/5 {
  color: rgba(var(--ctp-blue), 0.05);
}

.text-ctp-blue\/50 {
  color: rgba(var(--ctp-blue), 0.5);
}

.text-ctp-blue\/55 {
  color: rgba(var(--ctp-blue), 0.55);
}

.text-ctp-blue\/60 {
  color: rgba(var(--ctp-blue), 0.6);
}

.text-ctp-blue\/65 {
  color: rgba(var(--ctp-blue), 0.65);
}

.text-ctp-blue\/70 {
  color: rgba(var(--ctp-blue), 0.7);
}

.text-ctp-blue\/75 {
  color: rgba(var(--ctp-blue), 0.75);
}

.text-ctp-blue\/80 {
  color: rgba(var(--ctp-blue), 0.8);
}

.text-ctp-blue\/85 {
  color: rgba(var(--ctp-blue), 0.85);
}

.text-ctp-blue\/90 {
  color: rgba(var(--ctp-blue), 0.9);
}

.text-ctp-blue\/95 {
  color: rgba(var(--ctp-blue), 0.95);
}

.text-ctp-crust {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-crust), var(--tw-text-opacity, 1));
}

.text-ctp-crust\/0 {
  color: rgba(var(--ctp-crust), 0);
}

.text-ctp-crust\/10 {
  color: rgba(var(--ctp-crust), 0.1);
}

.text-ctp-crust\/100 {
  color: rgba(var(--ctp-crust), 1);
}

.text-ctp-crust\/15 {
  color: rgba(var(--ctp-crust), 0.15);
}

.text-ctp-crust\/20 {
  color: rgba(var(--ctp-crust), 0.2);
}

.text-ctp-crust\/25 {
  color: rgba(var(--ctp-crust), 0.25);
}

.text-ctp-crust\/30 {
  color: rgba(var(--ctp-crust), 0.3);
}

.text-ctp-crust\/35 {
  color: rgba(var(--ctp-crust), 0.35);
}

.text-ctp-crust\/40 {
  color: rgba(var(--ctp-crust), 0.4);
}

.text-ctp-crust\/45 {
  color: rgba(var(--ctp-crust), 0.45);
}

.text-ctp-crust\/5 {
  color: rgba(var(--ctp-crust), 0.05);
}

.text-ctp-crust\/50 {
  color: rgba(var(--ctp-crust), 0.5);
}

.text-ctp-crust\/55 {
  color: rgba(var(--ctp-crust), 0.55);
}

.text-ctp-crust\/60 {
  color: rgba(var(--ctp-crust), 0.6);
}

.text-ctp-crust\/65 {
  color: rgba(var(--ctp-crust), 0.65);
}

.text-ctp-crust\/70 {
  color: rgba(var(--ctp-crust), 0.7);
}

.text-ctp-crust\/75 {
  color: rgba(var(--ctp-crust), 0.75);
}

.text-ctp-crust\/80 {
  color: rgba(var(--ctp-crust), 0.8);
}

.text-ctp-crust\/85 {
  color: rgba(var(--ctp-crust), 0.85);
}

.text-ctp-crust\/90 {
  color: rgba(var(--ctp-crust), 0.9);
}

.text-ctp-crust\/95 {
  color: rgba(var(--ctp-crust), 0.95);
}

.text-ctp-flamingo {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-flamingo), var(--tw-text-opacity, 1));
}

.text-ctp-flamingo\/0 {
  color: rgba(var(--ctp-flamingo), 0);
}

.text-ctp-flamingo\/10 {
  color: rgba(var(--ctp-flamingo), 0.1);
}

.text-ctp-flamingo\/100 {
  color: rgba(var(--ctp-flamingo), 1);
}

.text-ctp-flamingo\/15 {
  color: rgba(var(--ctp-flamingo), 0.15);
}

.text-ctp-flamingo\/20 {
  color: rgba(var(--ctp-flamingo), 0.2);
}

.text-ctp-flamingo\/25 {
  color: rgba(var(--ctp-flamingo), 0.25);
}

.text-ctp-flamingo\/30 {
  color: rgba(var(--ctp-flamingo), 0.3);
}

.text-ctp-flamingo\/35 {
  color: rgba(var(--ctp-flamingo), 0.35);
}

.text-ctp-flamingo\/40 {
  color: rgba(var(--ctp-flamingo), 0.4);
}

.text-ctp-flamingo\/45 {
  color: rgba(var(--ctp-flamingo), 0.45);
}

.text-ctp-flamingo\/5 {
  color: rgba(var(--ctp-flamingo), 0.05);
}

.text-ctp-flamingo\/50 {
  color: rgba(var(--ctp-flamingo), 0.5);
}

.text-ctp-flamingo\/55 {
  color: rgba(var(--ctp-flamingo), 0.55);
}

.text-ctp-flamingo\/60 {
  color: rgba(var(--ctp-flamingo), 0.6);
}

.text-ctp-flamingo\/65 {
  color: rgba(var(--ctp-flamingo), 0.65);
}

.text-ctp-flamingo\/70 {
  color: rgba(var(--ctp-flamingo), 0.7);
}

.text-ctp-flamingo\/75 {
  color: rgba(var(--ctp-flamingo), 0.75);
}

.text-ctp-flamingo\/80 {
  color: rgba(var(--ctp-flamingo), 0.8);
}

.text-ctp-flamingo\/85 {
  color: rgba(var(--ctp-flamingo), 0.85);
}

.text-ctp-flamingo\/90 {
  color: rgba(var(--ctp-flamingo), 0.9);
}

.text-ctp-flamingo\/95 {
  color: rgba(var(--ctp-flamingo), 0.95);
}

.text-ctp-green {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-green), var(--tw-text-opacity, 1));
}

.text-ctp-green\/0 {
  color: rgba(var(--ctp-green), 0);
}

.text-ctp-green\/10 {
  color: rgba(var(--ctp-green), 0.1);
}

.text-ctp-green\/100 {
  color: rgba(var(--ctp-green), 1);
}

.text-ctp-green\/15 {
  color: rgba(var(--ctp-green), 0.15);
}

.text-ctp-green\/20 {
  color: rgba(var(--ctp-green), 0.2);
}

.text-ctp-green\/25 {
  color: rgba(var(--ctp-green), 0.25);
}

.text-ctp-green\/30 {
  color: rgba(var(--ctp-green), 0.3);
}

.text-ctp-green\/35 {
  color: rgba(var(--ctp-green), 0.35);
}

.text-ctp-green\/40 {
  color: rgba(var(--ctp-green), 0.4);
}

.text-ctp-green\/45 {
  color: rgba(var(--ctp-green), 0.45);
}

.text-ctp-green\/5 {
  color: rgba(var(--ctp-green), 0.05);
}

.text-ctp-green\/50 {
  color: rgba(var(--ctp-green), 0.5);
}

.text-ctp-green\/55 {
  color: rgba(var(--ctp-green), 0.55);
}

.text-ctp-green\/60 {
  color: rgba(var(--ctp-green), 0.6);
}

.text-ctp-green\/65 {
  color: rgba(var(--ctp-green), 0.65);
}

.text-ctp-green\/70 {
  color: rgba(var(--ctp-green), 0.7);
}

.text-ctp-green\/75 {
  color: rgba(var(--ctp-green), 0.75);
}

.text-ctp-green\/80 {
  color: rgba(var(--ctp-green), 0.8);
}

.text-ctp-green\/85 {
  color: rgba(var(--ctp-green), 0.85);
}

.text-ctp-green\/90 {
  color: rgba(var(--ctp-green), 0.9);
}

.text-ctp-green\/95 {
  color: rgba(var(--ctp-green), 0.95);
}

.text-ctp-lavender {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-lavender), var(--tw-text-opacity, 1));
}

.text-ctp-lavender\/0 {
  color: rgba(var(--ctp-lavender), 0);
}

.text-ctp-lavender\/10 {
  color: rgba(var(--ctp-lavender), 0.1);
}

.text-ctp-lavender\/100 {
  color: rgba(var(--ctp-lavender), 1);
}

.text-ctp-lavender\/15 {
  color: rgba(var(--ctp-lavender), 0.15);
}

.text-ctp-lavender\/20 {
  color: rgba(var(--ctp-lavender), 0.2);
}

.text-ctp-lavender\/25 {
  color: rgba(var(--ctp-lavender), 0.25);
}

.text-ctp-lavender\/30 {
  color: rgba(var(--ctp-lavender), 0.3);
}

.text-ctp-lavender\/35 {
  color: rgba(var(--ctp-lavender), 0.35);
}

.text-ctp-lavender\/40 {
  color: rgba(var(--ctp-lavender), 0.4);
}

.text-ctp-lavender\/45 {
  color: rgba(var(--ctp-lavender), 0.45);
}

.text-ctp-lavender\/5 {
  color: rgba(var(--ctp-lavender), 0.05);
}

.text-ctp-lavender\/50 {
  color: rgba(var(--ctp-lavender), 0.5);
}

.text-ctp-lavender\/55 {
  color: rgba(var(--ctp-lavender), 0.55);
}

.text-ctp-lavender\/60 {
  color: rgba(var(--ctp-lavender), 0.6);
}

.text-ctp-lavender\/65 {
  color: rgba(var(--ctp-lavender), 0.65);
}

.text-ctp-lavender\/70 {
  color: rgba(var(--ctp-lavender), 0.7);
}

.text-ctp-lavender\/75 {
  color: rgba(var(--ctp-lavender), 0.75);
}

.text-ctp-lavender\/80 {
  color: rgba(var(--ctp-lavender), 0.8);
}

.text-ctp-lavender\/85 {
  color: rgba(var(--ctp-lavender), 0.85);
}

.text-ctp-lavender\/90 {
  color: rgba(var(--ctp-lavender), 0.9);
}

.text-ctp-lavender\/95 {
  color: rgba(var(--ctp-lavender), 0.95);
}

.text-ctp-mantle {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-mantle), var(--tw-text-opacity, 1));
}

.text-ctp-mantle\/0 {
  color: rgba(var(--ctp-mantle), 0);
}

.text-ctp-mantle\/10 {
  color: rgba(var(--ctp-mantle), 0.1);
}

.text-ctp-mantle\/100 {
  color: rgba(var(--ctp-mantle), 1);
}

.text-ctp-mantle\/15 {
  color: rgba(var(--ctp-mantle), 0.15);
}

.text-ctp-mantle\/20 {
  color: rgba(var(--ctp-mantle), 0.2);
}

.text-ctp-mantle\/25 {
  color: rgba(var(--ctp-mantle), 0.25);
}

.text-ctp-mantle\/30 {
  color: rgba(var(--ctp-mantle), 0.3);
}

.text-ctp-mantle\/35 {
  color: rgba(var(--ctp-mantle), 0.35);
}

.text-ctp-mantle\/40 {
  color: rgba(var(--ctp-mantle), 0.4);
}

.text-ctp-mantle\/45 {
  color: rgba(var(--ctp-mantle), 0.45);
}

.text-ctp-mantle\/5 {
  color: rgba(var(--ctp-mantle), 0.05);
}

.text-ctp-mantle\/50 {
  color: rgba(var(--ctp-mantle), 0.5);
}

.text-ctp-mantle\/55 {
  color: rgba(var(--ctp-mantle), 0.55);
}

.text-ctp-mantle\/60 {
  color: rgba(var(--ctp-mantle), 0.6);
}

.text-ctp-mantle\/65 {
  color: rgba(var(--ctp-mantle), 0.65);
}

.text-ctp-mantle\/70 {
  color: rgba(var(--ctp-mantle), 0.7);
}

.text-ctp-mantle\/75 {
  color: rgba(var(--ctp-mantle), 0.75);
}

.text-ctp-mantle\/80 {
  color: rgba(var(--ctp-mantle), 0.8);
}

.text-ctp-mantle\/85 {
  color: rgba(var(--ctp-mantle), 0.85);
}

.text-ctp-mantle\/90 {
  color: rgba(var(--ctp-mantle), 0.9);
}

.text-ctp-mantle\/95 {
  color: rgba(var(--ctp-mantle), 0.95);
}

.text-ctp-maroon {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-maroon), var(--tw-text-opacity, 1));
}

.text-ctp-maroon\/0 {
  color: rgba(var(--ctp-maroon), 0);
}

.text-ctp-maroon\/10 {
  color: rgba(var(--ctp-maroon), 0.1);
}

.text-ctp-maroon\/100 {
  color: rgba(var(--ctp-maroon), 1);
}

.text-ctp-maroon\/15 {
  color: rgba(var(--ctp-maroon), 0.15);
}

.text-ctp-maroon\/20 {
  color: rgba(var(--ctp-maroon), 0.2);
}

.text-ctp-maroon\/25 {
  color: rgba(var(--ctp-maroon), 0.25);
}

.text-ctp-maroon\/30 {
  color: rgba(var(--ctp-maroon), 0.3);
}

.text-ctp-maroon\/35 {
  color: rgba(var(--ctp-maroon), 0.35);
}

.text-ctp-maroon\/40 {
  color: rgba(var(--ctp-maroon), 0.4);
}

.text-ctp-maroon\/45 {
  color: rgba(var(--ctp-maroon), 0.45);
}

.text-ctp-maroon\/5 {
  color: rgba(var(--ctp-maroon), 0.05);
}

.text-ctp-maroon\/50 {
  color: rgba(var(--ctp-maroon), 0.5);
}

.text-ctp-maroon\/55 {
  color: rgba(var(--ctp-maroon), 0.55);
}

.text-ctp-maroon\/60 {
  color: rgba(var(--ctp-maroon), 0.6);
}

.text-ctp-maroon\/65 {
  color: rgba(var(--ctp-maroon), 0.65);
}

.text-ctp-maroon\/70 {
  color: rgba(var(--ctp-maroon), 0.7);
}

.text-ctp-maroon\/75 {
  color: rgba(var(--ctp-maroon), 0.75);
}

.text-ctp-maroon\/80 {
  color: rgba(var(--ctp-maroon), 0.8);
}

.text-ctp-maroon\/85 {
  color: rgba(var(--ctp-maroon), 0.85);
}

.text-ctp-maroon\/90 {
  color: rgba(var(--ctp-maroon), 0.9);
}

.text-ctp-maroon\/95 {
  color: rgba(var(--ctp-maroon), 0.95);
}

.text-ctp-mauve {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-mauve), var(--tw-text-opacity, 1));
}

.text-ctp-mauve\/0 {
  color: rgba(var(--ctp-mauve), 0);
}

.text-ctp-mauve\/10 {
  color: rgba(var(--ctp-mauve), 0.1);
}

.text-ctp-mauve\/100 {
  color: rgba(var(--ctp-mauve), 1);
}

.text-ctp-mauve\/15 {
  color: rgba(var(--ctp-mauve), 0.15);
}

.text-ctp-mauve\/20 {
  color: rgba(var(--ctp-mauve), 0.2);
}

.text-ctp-mauve\/25 {
  color: rgba(var(--ctp-mauve), 0.25);
}

.text-ctp-mauve\/30 {
  color: rgba(var(--ctp-mauve), 0.3);
}

.text-ctp-mauve\/35 {
  color: rgba(var(--ctp-mauve), 0.35);
}

.text-ctp-mauve\/40 {
  color: rgba(var(--ctp-mauve), 0.4);
}

.text-ctp-mauve\/45 {
  color: rgba(var(--ctp-mauve), 0.45);
}

.text-ctp-mauve\/5 {
  color: rgba(var(--ctp-mauve), 0.05);
}

.text-ctp-mauve\/50 {
  color: rgba(var(--ctp-mauve), 0.5);
}

.text-ctp-mauve\/55 {
  color: rgba(var(--ctp-mauve), 0.55);
}

.text-ctp-mauve\/60 {
  color: rgba(var(--ctp-mauve), 0.6);
}

.text-ctp-mauve\/65 {
  color: rgba(var(--ctp-mauve), 0.65);
}

.text-ctp-mauve\/70 {
  color: rgba(var(--ctp-mauve), 0.7);
}

.text-ctp-mauve\/75 {
  color: rgba(var(--ctp-mauve), 0.75);
}

.text-ctp-mauve\/80 {
  color: rgba(var(--ctp-mauve), 0.8);
}

.text-ctp-mauve\/85 {
  color: rgba(var(--ctp-mauve), 0.85);
}

.text-ctp-mauve\/90 {
  color: rgba(var(--ctp-mauve), 0.9);
}

.text-ctp-mauve\/95 {
  color: rgba(var(--ctp-mauve), 0.95);
}

.text-ctp-overlay0 {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-overlay0), var(--tw-text-opacity, 1));
}

.text-ctp-overlay0\/0 {
  color: rgba(var(--ctp-overlay0), 0);
}

.text-ctp-overlay0\/10 {
  color: rgba(var(--ctp-overlay0), 0.1);
}

.text-ctp-overlay0\/100 {
  color: rgba(var(--ctp-overlay0), 1);
}

.text-ctp-overlay0\/15 {
  color: rgba(var(--ctp-overlay0), 0.15);
}

.text-ctp-overlay0\/20 {
  color: rgba(var(--ctp-overlay0), 0.2);
}

.text-ctp-overlay0\/25 {
  color: rgba(var(--ctp-overlay0), 0.25);
}

.text-ctp-overlay0\/30 {
  color: rgba(var(--ctp-overlay0), 0.3);
}

.text-ctp-overlay0\/35 {
  color: rgba(var(--ctp-overlay0), 0.35);
}

.text-ctp-overlay0\/40 {
  color: rgba(var(--ctp-overlay0), 0.4);
}

.text-ctp-overlay0\/45 {
  color: rgba(var(--ctp-overlay0), 0.45);
}

.text-ctp-overlay0\/5 {
  color: rgba(var(--ctp-overlay0), 0.05);
}

.text-ctp-overlay0\/50 {
  color: rgba(var(--ctp-overlay0), 0.5);
}

.text-ctp-overlay0\/55 {
  color: rgba(var(--ctp-overlay0), 0.55);
}

.text-ctp-overlay0\/60 {
  color: rgba(var(--ctp-overlay0), 0.6);
}

.text-ctp-overlay0\/65 {
  color: rgba(var(--ctp-overlay0), 0.65);
}

.text-ctp-overlay0\/70 {
  color: rgba(var(--ctp-overlay0), 0.7);
}

.text-ctp-overlay0\/75 {
  color: rgba(var(--ctp-overlay0), 0.75);
}

.text-ctp-overlay0\/80 {
  color: rgba(var(--ctp-overlay0), 0.8);
}

.text-ctp-overlay0\/85 {
  color: rgba(var(--ctp-overlay0), 0.85);
}

.text-ctp-overlay0\/90 {
  color: rgba(var(--ctp-overlay0), 0.9);
}

.text-ctp-overlay0\/95 {
  color: rgba(var(--ctp-overlay0), 0.95);
}

.text-ctp-overlay1 {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-overlay1), var(--tw-text-opacity, 1));
}

.text-ctp-overlay1\/0 {
  color: rgba(var(--ctp-overlay1), 0);
}

.text-ctp-overlay1\/10 {
  color: rgba(var(--ctp-overlay1), 0.1);
}

.text-ctp-overlay1\/100 {
  color: rgba(var(--ctp-overlay1), 1);
}

.text-ctp-overlay1\/15 {
  color: rgba(var(--ctp-overlay1), 0.15);
}

.text-ctp-overlay1\/20 {
  color: rgba(var(--ctp-overlay1), 0.2);
}

.text-ctp-overlay1\/25 {
  color: rgba(var(--ctp-overlay1), 0.25);
}

.text-ctp-overlay1\/30 {
  color: rgba(var(--ctp-overlay1), 0.3);
}

.text-ctp-overlay1\/35 {
  color: rgba(var(--ctp-overlay1), 0.35);
}

.text-ctp-overlay1\/40 {
  color: rgba(var(--ctp-overlay1), 0.4);
}

.text-ctp-overlay1\/45 {
  color: rgba(var(--ctp-overlay1), 0.45);
}

.text-ctp-overlay1\/5 {
  color: rgba(var(--ctp-overlay1), 0.05);
}

.text-ctp-overlay1\/50 {
  color: rgba(var(--ctp-overlay1), 0.5);
}

.text-ctp-overlay1\/55 {
  color: rgba(var(--ctp-overlay1), 0.55);
}

.text-ctp-overlay1\/60 {
  color: rgba(var(--ctp-overlay1), 0.6);
}

.text-ctp-overlay1\/65 {
  color: rgba(var(--ctp-overlay1), 0.65);
}

.text-ctp-overlay1\/70 {
  color: rgba(var(--ctp-overlay1), 0.7);
}

.text-ctp-overlay1\/75 {
  color: rgba(var(--ctp-overlay1), 0.75);
}

.text-ctp-overlay1\/80 {
  color: rgba(var(--ctp-overlay1), 0.8);
}

.text-ctp-overlay1\/85 {
  color: rgba(var(--ctp-overlay1), 0.85);
}

.text-ctp-overlay1\/90 {
  color: rgba(var(--ctp-overlay1), 0.9);
}

.text-ctp-overlay1\/95 {
  color: rgba(var(--ctp-overlay1), 0.95);
}

.text-ctp-overlay2 {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-overlay2), var(--tw-text-opacity, 1));
}

.text-ctp-overlay2\/0 {
  color: rgba(var(--ctp-overlay2), 0);
}

.text-ctp-overlay2\/10 {
  color: rgba(var(--ctp-overlay2), 0.1);
}

.text-ctp-overlay2\/100 {
  color: rgba(var(--ctp-overlay2), 1);
}

.text-ctp-overlay2\/15 {
  color: rgba(var(--ctp-overlay2), 0.15);
}

.text-ctp-overlay2\/20 {
  color: rgba(var(--ctp-overlay2), 0.2);
}

.text-ctp-overlay2\/25 {
  color: rgba(var(--ctp-overlay2), 0.25);
}

.text-ctp-overlay2\/30 {
  color: rgba(var(--ctp-overlay2), 0.3);
}

.text-ctp-overlay2\/35 {
  color: rgba(var(--ctp-overlay2), 0.35);
}

.text-ctp-overlay2\/40 {
  color: rgba(var(--ctp-overlay2), 0.4);
}

.text-ctp-overlay2\/45 {
  color: rgba(var(--ctp-overlay2), 0.45);
}

.text-ctp-overlay2\/5 {
  color: rgba(var(--ctp-overlay2), 0.05);
}

.text-ctp-overlay2\/50 {
  color: rgba(var(--ctp-overlay2), 0.5);
}

.text-ctp-overlay2\/55 {
  color: rgba(var(--ctp-overlay2), 0.55);
}

.text-ctp-overlay2\/60 {
  color: rgba(var(--ctp-overlay2), 0.6);
}

.text-ctp-overlay2\/65 {
  color: rgba(var(--ctp-overlay2), 0.65);
}

.text-ctp-overlay2\/70 {
  color: rgba(var(--ctp-overlay2), 0.7);
}

.text-ctp-overlay2\/75 {
  color: rgba(var(--ctp-overlay2), 0.75);
}

.text-ctp-overlay2\/80 {
  color: rgba(var(--ctp-overlay2), 0.8);
}

.text-ctp-overlay2\/85 {
  color: rgba(var(--ctp-overlay2), 0.85);
}

.text-ctp-overlay2\/90 {
  color: rgba(var(--ctp-overlay2), 0.9);
}

.text-ctp-overlay2\/95 {
  color: rgba(var(--ctp-overlay2), 0.95);
}

.text-ctp-peach {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-peach), var(--tw-text-opacity, 1));
}

.text-ctp-peach\/0 {
  color: rgba(var(--ctp-peach), 0);
}

.text-ctp-peach\/10 {
  color: rgba(var(--ctp-peach), 0.1);
}

.text-ctp-peach\/100 {
  color: rgba(var(--ctp-peach), 1);
}

.text-ctp-peach\/15 {
  color: rgba(var(--ctp-peach), 0.15);
}

.text-ctp-peach\/20 {
  color: rgba(var(--ctp-peach), 0.2);
}

.text-ctp-peach\/25 {
  color: rgba(var(--ctp-peach), 0.25);
}

.text-ctp-peach\/30 {
  color: rgba(var(--ctp-peach), 0.3);
}

.text-ctp-peach\/35 {
  color: rgba(var(--ctp-peach), 0.35);
}

.text-ctp-peach\/40 {
  color: rgba(var(--ctp-peach), 0.4);
}

.text-ctp-peach\/45 {
  color: rgba(var(--ctp-peach), 0.45);
}

.text-ctp-peach\/5 {
  color: rgba(var(--ctp-peach), 0.05);
}

.text-ctp-peach\/50 {
  color: rgba(var(--ctp-peach), 0.5);
}

.text-ctp-peach\/55 {
  color: rgba(var(--ctp-peach), 0.55);
}

.text-ctp-peach\/60 {
  color: rgba(var(--ctp-peach), 0.6);
}

.text-ctp-peach\/65 {
  color: rgba(var(--ctp-peach), 0.65);
}

.text-ctp-peach\/70 {
  color: rgba(var(--ctp-peach), 0.7);
}

.text-ctp-peach\/75 {
  color: rgba(var(--ctp-peach), 0.75);
}

.text-ctp-peach\/80 {
  color: rgba(var(--ctp-peach), 0.8);
}

.text-ctp-peach\/85 {
  color: rgba(var(--ctp-peach), 0.85);
}

.text-ctp-peach\/90 {
  color: rgba(var(--ctp-peach), 0.9);
}

.text-ctp-peach\/95 {
  color: rgba(var(--ctp-peach), 0.95);
}

.text-ctp-pink {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-pink), var(--tw-text-opacity, 1));
}

.text-ctp-pink\/0 {
  color: rgba(var(--ctp-pink), 0);
}

.text-ctp-pink\/10 {
  color: rgba(var(--ctp-pink), 0.1);
}

.text-ctp-pink\/100 {
  color: rgba(var(--ctp-pink), 1);
}

.text-ctp-pink\/15 {
  color: rgba(var(--ctp-pink), 0.15);
}

.text-ctp-pink\/20 {
  color: rgba(var(--ctp-pink), 0.2);
}

.text-ctp-pink\/25 {
  color: rgba(var(--ctp-pink), 0.25);
}

.text-ctp-pink\/30 {
  color: rgba(var(--ctp-pink), 0.3);
}

.text-ctp-pink\/35 {
  color: rgba(var(--ctp-pink), 0.35);
}

.text-ctp-pink\/40 {
  color: rgba(var(--ctp-pink), 0.4);
}

.text-ctp-pink\/45 {
  color: rgba(var(--ctp-pink), 0.45);
}

.text-ctp-pink\/5 {
  color: rgba(var(--ctp-pink), 0.05);
}

.text-ctp-pink\/50 {
  color: rgba(var(--ctp-pink), 0.5);
}

.text-ctp-pink\/55 {
  color: rgba(var(--ctp-pink), 0.55);
}

.text-ctp-pink\/60 {
  color: rgba(var(--ctp-pink), 0.6);
}

.text-ctp-pink\/65 {
  color: rgba(var(--ctp-pink), 0.65);
}

.text-ctp-pink\/70 {
  color: rgba(var(--ctp-pink), 0.7);
}

.text-ctp-pink\/75 {
  color: rgba(var(--ctp-pink), 0.75);
}

.text-ctp-pink\/80 {
  color: rgba(var(--ctp-pink), 0.8);
}

.text-ctp-pink\/85 {
  color: rgba(var(--ctp-pink), 0.85);
}

.text-ctp-pink\/90 {
  color: rgba(var(--ctp-pink), 0.9);
}

.text-ctp-pink\/95 {
  color: rgba(var(--ctp-pink), 0.95);
}

.text-ctp-red {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-red), var(--tw-text-opacity, 1));
}

.text-ctp-red\/0 {
  color: rgba(var(--ctp-red), 0);
}

.text-ctp-red\/10 {
  color: rgba(var(--ctp-red), 0.1);
}

.text-ctp-red\/100 {
  color: rgba(var(--ctp-red), 1);
}

.text-ctp-red\/15 {
  color: rgba(var(--ctp-red), 0.15);
}

.text-ctp-red\/20 {
  color: rgba(var(--ctp-red), 0.2);
}

.text-ctp-red\/25 {
  color: rgba(var(--ctp-red), 0.25);
}

.text-ctp-red\/30 {
  color: rgba(var(--ctp-red), 0.3);
}

.text-ctp-red\/35 {
  color: rgba(var(--ctp-red), 0.35);
}

.text-ctp-red\/40 {
  color: rgba(var(--ctp-red), 0.4);
}

.text-ctp-red\/45 {
  color: rgba(var(--ctp-red), 0.45);
}

.text-ctp-red\/5 {
  color: rgba(var(--ctp-red), 0.05);
}

.text-ctp-red\/50 {
  color: rgba(var(--ctp-red), 0.5);
}

.text-ctp-red\/55 {
  color: rgba(var(--ctp-red), 0.55);
}

.text-ctp-red\/60 {
  color: rgba(var(--ctp-red), 0.6);
}

.text-ctp-red\/65 {
  color: rgba(var(--ctp-red), 0.65);
}

.text-ctp-red\/70 {
  color: rgba(var(--ctp-red), 0.7);
}

.text-ctp-red\/75 {
  color: rgba(var(--ctp-red), 0.75);
}

.text-ctp-red\/80 {
  color: rgba(var(--ctp-red), 0.8);
}

.text-ctp-red\/85 {
  color: rgba(var(--ctp-red), 0.85);
}

.text-ctp-red\/90 {
  color: rgba(var(--ctp-red), 0.9);
}

.text-ctp-red\/95 {
  color: rgba(var(--ctp-red), 0.95);
}

.text-ctp-rosewater {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-rosewater), var(--tw-text-opacity, 1));
}

.text-ctp-rosewater\/0 {
  color: rgba(var(--ctp-rosewater), 0);
}

.text-ctp-rosewater\/10 {
  color: rgba(var(--ctp-rosewater), 0.1);
}

.text-ctp-rosewater\/100 {
  color: rgba(var(--ctp-rosewater), 1);
}

.text-ctp-rosewater\/15 {
  color: rgba(var(--ctp-rosewater), 0.15);
}

.text-ctp-rosewater\/20 {
  color: rgba(var(--ctp-rosewater), 0.2);
}

.text-ctp-rosewater\/25 {
  color: rgba(var(--ctp-rosewater), 0.25);
}

.text-ctp-rosewater\/30 {
  color: rgba(var(--ctp-rosewater), 0.3);
}

.text-ctp-rosewater\/35 {
  color: rgba(var(--ctp-rosewater), 0.35);
}

.text-ctp-rosewater\/40 {
  color: rgba(var(--ctp-rosewater), 0.4);
}

.text-ctp-rosewater\/45 {
  color: rgba(var(--ctp-rosewater), 0.45);
}

.text-ctp-rosewater\/5 {
  color: rgba(var(--ctp-rosewater), 0.05);
}

.text-ctp-rosewater\/50 {
  color: rgba(var(--ctp-rosewater), 0.5);
}

.text-ctp-rosewater\/55 {
  color: rgba(var(--ctp-rosewater), 0.55);
}

.text-ctp-rosewater\/60 {
  color: rgba(var(--ctp-rosewater), 0.6);
}

.text-ctp-rosewater\/65 {
  color: rgba(var(--ctp-rosewater), 0.65);
}

.text-ctp-rosewater\/70 {
  color: rgba(var(--ctp-rosewater), 0.7);
}

.text-ctp-rosewater\/75 {
  color: rgba(var(--ctp-rosewater), 0.75);
}

.text-ctp-rosewater\/80 {
  color: rgba(var(--ctp-rosewater), 0.8);
}

.text-ctp-rosewater\/85 {
  color: rgba(var(--ctp-rosewater), 0.85);
}

.text-ctp-rosewater\/90 {
  color: rgba(var(--ctp-rosewater), 0.9);
}

.text-ctp-rosewater\/95 {
  color: rgba(var(--ctp-rosewater), 0.95);
}

.text-ctp-sapphire {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-sapphire), var(--tw-text-opacity, 1));
}

.text-ctp-sapphire\/0 {
  color: rgba(var(--ctp-sapphire), 0);
}

.text-ctp-sapphire\/10 {
  color: rgba(var(--ctp-sapphire), 0.1);
}

.text-ctp-sapphire\/100 {
  color: rgba(var(--ctp-sapphire), 1);
}

.text-ctp-sapphire\/15 {
  color: rgba(var(--ctp-sapphire), 0.15);
}

.text-ctp-sapphire\/20 {
  color: rgba(var(--ctp-sapphire), 0.2);
}

.text-ctp-sapphire\/25 {
  color: rgba(var(--ctp-sapphire), 0.25);
}

.text-ctp-sapphire\/30 {
  color: rgba(var(--ctp-sapphire), 0.3);
}

.text-ctp-sapphire\/35 {
  color: rgba(var(--ctp-sapphire), 0.35);
}

.text-ctp-sapphire\/40 {
  color: rgba(var(--ctp-sapphire), 0.4);
}

.text-ctp-sapphire\/45 {
  color: rgba(var(--ctp-sapphire), 0.45);
}

.text-ctp-sapphire\/5 {
  color: rgba(var(--ctp-sapphire), 0.05);
}

.text-ctp-sapphire\/50 {
  color: rgba(var(--ctp-sapphire), 0.5);
}

.text-ctp-sapphire\/55 {
  color: rgba(var(--ctp-sapphire), 0.55);
}

.text-ctp-sapphire\/60 {
  color: rgba(var(--ctp-sapphire), 0.6);
}

.text-ctp-sapphire\/65 {
  color: rgba(var(--ctp-sapphire), 0.65);
}

.text-ctp-sapphire\/70 {
  color: rgba(var(--ctp-sapphire), 0.7);
}

.text-ctp-sapphire\/75 {
  color: rgba(var(--ctp-sapphire), 0.75);
}

.text-ctp-sapphire\/80 {
  color: rgba(var(--ctp-sapphire), 0.8);
}

.text-ctp-sapphire\/85 {
  color: rgba(var(--ctp-sapphire), 0.85);
}

.text-ctp-sapphire\/90 {
  color: rgba(var(--ctp-sapphire), 0.9);
}

.text-ctp-sapphire\/95 {
  color: rgba(var(--ctp-sapphire), 0.95);
}

.text-ctp-sky {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-sky), var(--tw-text-opacity, 1));
}

.text-ctp-sky\/0 {
  color: rgba(var(--ctp-sky), 0);
}

.text-ctp-sky\/10 {
  color: rgba(var(--ctp-sky), 0.1);
}

.text-ctp-sky\/100 {
  color: rgba(var(--ctp-sky), 1);
}

.text-ctp-sky\/15 {
  color: rgba(var(--ctp-sky), 0.15);
}

.text-ctp-sky\/20 {
  color: rgba(var(--ctp-sky), 0.2);
}

.text-ctp-sky\/25 {
  color: rgba(var(--ctp-sky), 0.25);
}

.text-ctp-sky\/30 {
  color: rgba(var(--ctp-sky), 0.3);
}

.text-ctp-sky\/35 {
  color: rgba(var(--ctp-sky), 0.35);
}

.text-ctp-sky\/40 {
  color: rgba(var(--ctp-sky), 0.4);
}

.text-ctp-sky\/45 {
  color: rgba(var(--ctp-sky), 0.45);
}

.text-ctp-sky\/5 {
  color: rgba(var(--ctp-sky), 0.05);
}

.text-ctp-sky\/50 {
  color: rgba(var(--ctp-sky), 0.5);
}

.text-ctp-sky\/55 {
  color: rgba(var(--ctp-sky), 0.55);
}

.text-ctp-sky\/60 {
  color: rgba(var(--ctp-sky), 0.6);
}

.text-ctp-sky\/65 {
  color: rgba(var(--ctp-sky), 0.65);
}

.text-ctp-sky\/70 {
  color: rgba(var(--ctp-sky), 0.7);
}

.text-ctp-sky\/75 {
  color: rgba(var(--ctp-sky), 0.75);
}

.text-ctp-sky\/80 {
  color: rgba(var(--ctp-sky), 0.8);
}

.text-ctp-sky\/85 {
  color: rgba(var(--ctp-sky), 0.85);
}

.text-ctp-sky\/90 {
  color: rgba(var(--ctp-sky), 0.9);
}

.text-ctp-sky\/95 {
  color: rgba(var(--ctp-sky), 0.95);
}

.text-ctp-subtext0 {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-subtext0), var(--tw-text-opacity, 1));
}

.text-ctp-subtext0\/0 {
  color: rgba(var(--ctp-subtext0), 0);
}

.text-ctp-subtext0\/10 {
  color: rgba(var(--ctp-subtext0), 0.1);
}

.text-ctp-subtext0\/100 {
  color: rgba(var(--ctp-subtext0), 1);
}

.text-ctp-subtext0\/15 {
  color: rgba(var(--ctp-subtext0), 0.15);
}

.text-ctp-subtext0\/20 {
  color: rgba(var(--ctp-subtext0), 0.2);
}

.text-ctp-subtext0\/25 {
  color: rgba(var(--ctp-subtext0), 0.25);
}

.text-ctp-subtext0\/30 {
  color: rgba(var(--ctp-subtext0), 0.3);
}

.text-ctp-subtext0\/35 {
  color: rgba(var(--ctp-subtext0), 0.35);
}

.text-ctp-subtext0\/40 {
  color: rgba(var(--ctp-subtext0), 0.4);
}

.text-ctp-subtext0\/45 {
  color: rgba(var(--ctp-subtext0), 0.45);
}

.text-ctp-subtext0\/5 {
  color: rgba(var(--ctp-subtext0), 0.05);
}

.text-ctp-subtext0\/50 {
  color: rgba(var(--ctp-subtext0), 0.5);
}

.text-ctp-subtext0\/55 {
  color: rgba(var(--ctp-subtext0), 0.55);
}

.text-ctp-subtext0\/60 {
  color: rgba(var(--ctp-subtext0), 0.6);
}

.text-ctp-subtext0\/65 {
  color: rgba(var(--ctp-subtext0), 0.65);
}

.text-ctp-subtext0\/70 {
  color: rgba(var(--ctp-subtext0), 0.7);
}

.text-ctp-subtext0\/75 {
  color: rgba(var(--ctp-subtext0), 0.75);
}

.text-ctp-subtext0\/80 {
  color: rgba(var(--ctp-subtext0), 0.8);
}

.text-ctp-subtext0\/85 {
  color: rgba(var(--ctp-subtext0), 0.85);
}

.text-ctp-subtext0\/90 {
  color: rgba(var(--ctp-subtext0), 0.9);
}

.text-ctp-subtext0\/95 {
  color: rgba(var(--ctp-subtext0), 0.95);
}

.text-ctp-subtext1 {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-subtext1), var(--tw-text-opacity, 1));
}

.text-ctp-subtext1\/0 {
  color: rgba(var(--ctp-subtext1), 0);
}

.text-ctp-subtext1\/10 {
  color: rgba(var(--ctp-subtext1), 0.1);
}

.text-ctp-subtext1\/100 {
  color: rgba(var(--ctp-subtext1), 1);
}

.text-ctp-subtext1\/15 {
  color: rgba(var(--ctp-subtext1), 0.15);
}

.text-ctp-subtext1\/20 {
  color: rgba(var(--ctp-subtext1), 0.2);
}

.text-ctp-subtext1\/25 {
  color: rgba(var(--ctp-subtext1), 0.25);
}

.text-ctp-subtext1\/30 {
  color: rgba(var(--ctp-subtext1), 0.3);
}

.text-ctp-subtext1\/35 {
  color: rgba(var(--ctp-subtext1), 0.35);
}

.text-ctp-subtext1\/40 {
  color: rgba(var(--ctp-subtext1), 0.4);
}

.text-ctp-subtext1\/45 {
  color: rgba(var(--ctp-subtext1), 0.45);
}

.text-ctp-subtext1\/5 {
  color: rgba(var(--ctp-subtext1), 0.05);
}

.text-ctp-subtext1\/50 {
  color: rgba(var(--ctp-subtext1), 0.5);
}

.text-ctp-subtext1\/55 {
  color: rgba(var(--ctp-subtext1), 0.55);
}

.text-ctp-subtext1\/60 {
  color: rgba(var(--ctp-subtext1), 0.6);
}

.text-ctp-subtext1\/65 {
  color: rgba(var(--ctp-subtext1), 0.65);
}

.text-ctp-subtext1\/70 {
  color: rgba(var(--ctp-subtext1), 0.7);
}

.text-ctp-subtext1\/75 {
  color: rgba(var(--ctp-subtext1), 0.75);
}

.text-ctp-subtext1\/80 {
  color: rgba(var(--ctp-subtext1), 0.8);
}

.text-ctp-subtext1\/85 {
  color: rgba(var(--ctp-subtext1), 0.85);
}

.text-ctp-subtext1\/90 {
  color: rgba(var(--ctp-subtext1), 0.9);
}

.text-ctp-subtext1\/95 {
  color: rgba(var(--ctp-subtext1), 0.95);
}

.text-ctp-surface0 {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-surface0), var(--tw-text-opacity, 1));
}

.text-ctp-surface0\/0 {
  color: rgba(var(--ctp-surface0), 0);
}

.text-ctp-surface0\/10 {
  color: rgba(var(--ctp-surface0), 0.1);
}

.text-ctp-surface0\/100 {
  color: rgba(var(--ctp-surface0), 1);
}

.text-ctp-surface0\/15 {
  color: rgba(var(--ctp-surface0), 0.15);
}

.text-ctp-surface0\/20 {
  color: rgba(var(--ctp-surface0), 0.2);
}

.text-ctp-surface0\/25 {
  color: rgba(var(--ctp-surface0), 0.25);
}

.text-ctp-surface0\/30 {
  color: rgba(var(--ctp-surface0), 0.3);
}

.text-ctp-surface0\/35 {
  color: rgba(var(--ctp-surface0), 0.35);
}

.text-ctp-surface0\/40 {
  color: rgba(var(--ctp-surface0), 0.4);
}

.text-ctp-surface0\/45 {
  color: rgba(var(--ctp-surface0), 0.45);
}

.text-ctp-surface0\/5 {
  color: rgba(var(--ctp-surface0), 0.05);
}

.text-ctp-surface0\/50 {
  color: rgba(var(--ctp-surface0), 0.5);
}

.text-ctp-surface0\/55 {
  color: rgba(var(--ctp-surface0), 0.55);
}

.text-ctp-surface0\/60 {
  color: rgba(var(--ctp-surface0), 0.6);
}

.text-ctp-surface0\/65 {
  color: rgba(var(--ctp-surface0), 0.65);
}

.text-ctp-surface0\/70 {
  color: rgba(var(--ctp-surface0), 0.7);
}

.text-ctp-surface0\/75 {
  color: rgba(var(--ctp-surface0), 0.75);
}

.text-ctp-surface0\/80 {
  color: rgba(var(--ctp-surface0), 0.8);
}

.text-ctp-surface0\/85 {
  color: rgba(var(--ctp-surface0), 0.85);
}

.text-ctp-surface0\/90 {
  color: rgba(var(--ctp-surface0), 0.9);
}

.text-ctp-surface0\/95 {
  color: rgba(var(--ctp-surface0), 0.95);
}

.text-ctp-surface1 {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-surface1), var(--tw-text-opacity, 1));
}

.text-ctp-surface1\/0 {
  color: rgba(var(--ctp-surface1), 0);
}

.text-ctp-surface1\/10 {
  color: rgba(var(--ctp-surface1), 0.1);
}

.text-ctp-surface1\/100 {
  color: rgba(var(--ctp-surface1), 1);
}

.text-ctp-surface1\/15 {
  color: rgba(var(--ctp-surface1), 0.15);
}

.text-ctp-surface1\/20 {
  color: rgba(var(--ctp-surface1), 0.2);
}

.text-ctp-surface1\/25 {
  color: rgba(var(--ctp-surface1), 0.25);
}

.text-ctp-surface1\/30 {
  color: rgba(var(--ctp-surface1), 0.3);
}

.text-ctp-surface1\/35 {
  color: rgba(var(--ctp-surface1), 0.35);
}

.text-ctp-surface1\/40 {
  color: rgba(var(--ctp-surface1), 0.4);
}

.text-ctp-surface1\/45 {
  color: rgba(var(--ctp-surface1), 0.45);
}

.text-ctp-surface1\/5 {
  color: rgba(var(--ctp-surface1), 0.05);
}

.text-ctp-surface1\/50 {
  color: rgba(var(--ctp-surface1), 0.5);
}

.text-ctp-surface1\/55 {
  color: rgba(var(--ctp-surface1), 0.55);
}

.text-ctp-surface1\/60 {
  color: rgba(var(--ctp-surface1), 0.6);
}

.text-ctp-surface1\/65 {
  color: rgba(var(--ctp-surface1), 0.65);
}

.text-ctp-surface1\/70 {
  color: rgba(var(--ctp-surface1), 0.7);
}

.text-ctp-surface1\/75 {
  color: rgba(var(--ctp-surface1), 0.75);
}

.text-ctp-surface1\/80 {
  color: rgba(var(--ctp-surface1), 0.8);
}

.text-ctp-surface1\/85 {
  color: rgba(var(--ctp-surface1), 0.85);
}

.text-ctp-surface1\/90 {
  color: rgba(var(--ctp-surface1), 0.9);
}

.text-ctp-surface1\/95 {
  color: rgba(var(--ctp-surface1), 0.95);
}

.text-ctp-surface2 {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-surface2), var(--tw-text-opacity, 1));
}

.text-ctp-surface2\/0 {
  color: rgba(var(--ctp-surface2), 0);
}

.text-ctp-surface2\/10 {
  color: rgba(var(--ctp-surface2), 0.1);
}

.text-ctp-surface2\/100 {
  color: rgba(var(--ctp-surface2), 1);
}

.text-ctp-surface2\/15 {
  color: rgba(var(--ctp-surface2), 0.15);
}

.text-ctp-surface2\/20 {
  color: rgba(var(--ctp-surface2), 0.2);
}

.text-ctp-surface2\/25 {
  color: rgba(var(--ctp-surface2), 0.25);
}

.text-ctp-surface2\/30 {
  color: rgba(var(--ctp-surface2), 0.3);
}

.text-ctp-surface2\/35 {
  color: rgba(var(--ctp-surface2), 0.35);
}

.text-ctp-surface2\/40 {
  color: rgba(var(--ctp-surface2), 0.4);
}

.text-ctp-surface2\/45 {
  color: rgba(var(--ctp-surface2), 0.45);
}

.text-ctp-surface2\/5 {
  color: rgba(var(--ctp-surface2), 0.05);
}

.text-ctp-surface2\/50 {
  color: rgba(var(--ctp-surface2), 0.5);
}

.text-ctp-surface2\/55 {
  color: rgba(var(--ctp-surface2), 0.55);
}

.text-ctp-surface2\/60 {
  color: rgba(var(--ctp-surface2), 0.6);
}

.text-ctp-surface2\/65 {
  color: rgba(var(--ctp-surface2), 0.65);
}

.text-ctp-surface2\/70 {
  color: rgba(var(--ctp-surface2), 0.7);
}

.text-ctp-surface2\/75 {
  color: rgba(var(--ctp-surface2), 0.75);
}

.text-ctp-surface2\/80 {
  color: rgba(var(--ctp-surface2), 0.8);
}

.text-ctp-surface2\/85 {
  color: rgba(var(--ctp-surface2), 0.85);
}

.text-ctp-surface2\/90 {
  color: rgba(var(--ctp-surface2), 0.9);
}

.text-ctp-surface2\/95 {
  color: rgba(var(--ctp-surface2), 0.95);
}

.text-ctp-teal {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-teal), var(--tw-text-opacity, 1));
}

.text-ctp-teal\/0 {
  color: rgba(var(--ctp-teal), 0);
}

.text-ctp-teal\/10 {
  color: rgba(var(--ctp-teal), 0.1);
}

.text-ctp-teal\/100 {
  color: rgba(var(--ctp-teal), 1);
}

.text-ctp-teal\/15 {
  color: rgba(var(--ctp-teal), 0.15);
}

.text-ctp-teal\/20 {
  color: rgba(var(--ctp-teal), 0.2);
}

.text-ctp-teal\/25 {
  color: rgba(var(--ctp-teal), 0.25);
}

.text-ctp-teal\/30 {
  color: rgba(var(--ctp-teal), 0.3);
}

.text-ctp-teal\/35 {
  color: rgba(var(--ctp-teal), 0.35);
}

.text-ctp-teal\/40 {
  color: rgba(var(--ctp-teal), 0.4);
}

.text-ctp-teal\/45 {
  color: rgba(var(--ctp-teal), 0.45);
}

.text-ctp-teal\/5 {
  color: rgba(var(--ctp-teal), 0.05);
}

.text-ctp-teal\/50 {
  color: rgba(var(--ctp-teal), 0.5);
}

.text-ctp-teal\/55 {
  color: rgba(var(--ctp-teal), 0.55);
}

.text-ctp-teal\/60 {
  color: rgba(var(--ctp-teal), 0.6);
}

.text-ctp-teal\/65 {
  color: rgba(var(--ctp-teal), 0.65);
}

.text-ctp-teal\/70 {
  color: rgba(var(--ctp-teal), 0.7);
}

.text-ctp-teal\/75 {
  color: rgba(var(--ctp-teal), 0.75);
}

.text-ctp-teal\/80 {
  color: rgba(var(--ctp-teal), 0.8);
}

.text-ctp-teal\/85 {
  color: rgba(var(--ctp-teal), 0.85);
}

.text-ctp-teal\/90 {
  color: rgba(var(--ctp-teal), 0.9);
}

.text-ctp-teal\/95 {
  color: rgba(var(--ctp-teal), 0.95);
}

.text-ctp-text {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-text), var(--tw-text-opacity, 1));
}

.text-ctp-text\/0 {
  color: rgba(var(--ctp-text), 0);
}

.text-ctp-text\/10 {
  color: rgba(var(--ctp-text), 0.1);
}

.text-ctp-text\/100 {
  color: rgba(var(--ctp-text), 1);
}

.text-ctp-text\/15 {
  color: rgba(var(--ctp-text), 0.15);
}

.text-ctp-text\/20 {
  color: rgba(var(--ctp-text), 0.2);
}

.text-ctp-text\/25 {
  color: rgba(var(--ctp-text), 0.25);
}

.text-ctp-text\/30 {
  color: rgba(var(--ctp-text), 0.3);
}

.text-ctp-text\/35 {
  color: rgba(var(--ctp-text), 0.35);
}

.text-ctp-text\/40 {
  color: rgba(var(--ctp-text), 0.4);
}

.text-ctp-text\/45 {
  color: rgba(var(--ctp-text), 0.45);
}

.text-ctp-text\/5 {
  color: rgba(var(--ctp-text), 0.05);
}

.text-ctp-text\/50 {
  color: rgba(var(--ctp-text), 0.5);
}

.text-ctp-text\/55 {
  color: rgba(var(--ctp-text), 0.55);
}

.text-ctp-text\/60 {
  color: rgba(var(--ctp-text), 0.6);
}

.text-ctp-text\/65 {
  color: rgba(var(--ctp-text), 0.65);
}

.text-ctp-text\/70 {
  color: rgba(var(--ctp-text), 0.7);
}

.text-ctp-text\/75 {
  color: rgba(var(--ctp-text), 0.75);
}

.text-ctp-text\/80 {
  color: rgba(var(--ctp-text), 0.8);
}

.text-ctp-text\/85 {
  color: rgba(var(--ctp-text), 0.85);
}

.text-ctp-text\/90 {
  color: rgba(var(--ctp-text), 0.9);
}

.text-ctp-text\/95 {
  color: rgba(var(--ctp-text), 0.95);
}

.text-ctp-yellow {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-yellow), var(--tw-text-opacity, 1));
}

.text-ctp-yellow\/0 {
  color: rgba(var(--ctp-yellow), 0);
}

.text-ctp-yellow\/10 {
  color: rgba(var(--ctp-yellow), 0.1);
}

.text-ctp-yellow\/100 {
  color: rgba(var(--ctp-yellow), 1);
}

.text-ctp-yellow\/15 {
  color: rgba(var(--ctp-yellow), 0.15);
}

.text-ctp-yellow\/20 {
  color: rgba(var(--ctp-yellow), 0.2);
}

.text-ctp-yellow\/25 {
  color: rgba(var(--ctp-yellow), 0.25);
}

.text-ctp-yellow\/30 {
  color: rgba(var(--ctp-yellow), 0.3);
}

.text-ctp-yellow\/35 {
  color: rgba(var(--ctp-yellow), 0.35);
}

.text-ctp-yellow\/40 {
  color: rgba(var(--ctp-yellow), 0.4);
}

.text-ctp-yellow\/45 {
  color: rgba(var(--ctp-yellow), 0.45);
}

.text-ctp-yellow\/5 {
  color: rgba(var(--ctp-yellow), 0.05);
}

.text-ctp-yellow\/50 {
  color: rgba(var(--ctp-yellow), 0.5);
}

.text-ctp-yellow\/55 {
  color: rgba(var(--ctp-yellow), 0.55);
}

.text-ctp-yellow\/60 {
  color: rgba(var(--ctp-yellow), 0.6);
}

.text-ctp-yellow\/65 {
  color: rgba(var(--ctp-yellow), 0.65);
}

.text-ctp-yellow\/70 {
  color: rgba(var(--ctp-yellow), 0.7);
}

.text-ctp-yellow\/75 {
  color: rgba(var(--ctp-yellow), 0.75);
}

.text-ctp-yellow\/80 {
  color: rgba(var(--ctp-yellow), 0.8);
}

.text-ctp-yellow\/85 {
  color: rgba(var(--ctp-yellow), 0.85);
}

.text-ctp-yellow\/90 {
  color: rgba(var(--ctp-yellow), 0.9);
}

.text-ctp-yellow\/95 {
  color: rgba(var(--ctp-yellow), 0.95);
}

.outline {
  outline-style: solid;
}

.outline-2 {
  outline-width: 2px;
}

.outline-ctp-pink {
  outline-color: rgb(var(--ctp-pink));
}

@media (prefers-color-scheme: dark) {
  .dark\:ctp-mocha {
    --ctp-rosewater: 245, 224, 220;
    --ctp-flamingo: 242, 205, 205;
    --ctp-pink: 245, 194, 231;
    --ctp-mauve: 203, 166, 247;
    --ctp-red: 243, 139, 168;
    --ctp-maroon: 235, 160, 172;
    --ctp-peach: 250, 179, 135;
    --ctp-yellow: 249, 226, 175;
    --ctp-green: 166, 227, 161;
    --ctp-teal: 148, 226, 213;
    --ctp-sky: 137, 220, 235;
    --ctp-sapphire: 116, 199, 236;
    --ctp-blue: 137, 180, 250;
    --ctp-lavender: 180, 190, 254;
    --ctp-text: 205, 214, 244;
    --ctp-subtext1: 186, 194, 222;
    --ctp-subtext0: 166, 173, 200;
    --ctp-overlay2: 147, 153, 178;
    --ctp-overlay1: 127, 132, 156;
    --ctp-overlay0: 108, 112, 134;
    --ctp-surface2: 88, 91, 112;
    --ctp-surface1: 69, 71, 90;
    --ctp-surface0: 49, 50, 68;
    --ctp-base: 30, 30, 46;
    --ctp-mantle: 24, 24, 37;
    --ctp-crust: 17, 17, 27;
  }
}

.hover\:bg-ctp-lavender:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--ctp-lavender), var(--tw-bg-opacity, 1));
}

.hover\:text-ctp-crust:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--ctp-crust), var(--tw-text-opacity, 1));
}

.hover\:outline-ctp-blue:hover {
  outline-color: rgb(var(--ctp-blue));
}